
//- --------------------------------------------------------
//- Main
//- --------------------------------------------------------

.tt-box
  text-align center
  
  img
    width 100%
  
.twentytwenty-wrapper
  max-width 800px
  margin 100px auto 0
  width 100%
  
.hero-text
  text-align: center
  
  .title
    font-family: $title-font
    font-weight: 300
    color: $dark-grey
  
  .text
    font-family: $text-font
    font-weight: 400
    font-size: 14px
    color: $mid-dark-grey
  
.nav
  display: inline-block
  padding: 40px 0
  text-align: center 
  width: 100%
   
  .prev
    display: inline-block
    margin-right: 60px
  
  .next
    display: inline-block
    margin-left: 60px
    
  a
    color: $brown
    text-decoration: none
    font-family: $title-font
    font-size: em($h6)
    
    &:hover
      color: $mid-dark-grey
    
