$extra-light-grey  = #fafafa
$light-grey        = #eeeeee
$mid-light-grey    = #E0E0E0
$grey              = #9e9e9e
$mid-dark-grey     = #46423f
$dark-grey         = #333337


$light-brown       = #d7ccc8
$brown             = #795548
$mid-light-brown   = #A1887f
$mid-dark-brown    = #5D4037
$dark-brown        = #3e2723


$title-font        = Lato, sans-serif
$text-font         = 'Merriweather', serif

$h0 = 60
$h1 = 55
$h2 = 42
$h3 = 27
$h4 = 18
$h5 = 16
$h6 = 14
$p  = 12
$s  = 11


.h0
  font-size: em($h0)
  
  +media('mobile')
    font-size: em($h1)
h1
  font-size: em($h1)
  
  +media('mobile')
    font-size: em($h2)

h2
  font-size: em($h2) 

  +media('mobile')
    font-size: em($h3)
    
h3
  font-size: em($h3)
  
  +media('mobile')
    font-size: em($h4)
  
h4
  font-size: em($h4)
  
  +media('mobile')
    font-size: em($h5)

h5
  font-size: em($h5)
  

  +media('mobile')
    font-size: em($h6)

h6
  font-size: em($h6)
  
  +media('mobile')
    font-size: 100%
